<div class="signup">
    <h2>Signup</h2>
    <div class="signup-content">
        <label>Name</label>
        <input [(ngModel)]="user.name" placeholder="Name" type="text"/>
    </div>

    <div class="signup-content">
        <label>E-Email</label>
        <input [(ngModel)]="user.email" placeholder="E-Mail" type="text"/>
    </div>
    
    <div class="signup-content">
        <label>Address</label>
        <input [(ngModel)]="user.address" placeholder="Address" type="text"/>
    </div>
    
    <div class="signup-content">
        <label>Phone Number</label>
        <input [(ngModel)]="user.phone" placeholder="Phone Number" type="tel"/>
    </div>
    
    <div class="signup-content">
        <label>Password</label>
        <input [(ngModel)]="user.password" placeholder="Password" type="password"/>
    </div>
    <button class="loginSignup-btn" (click)="submit()">Signup</button>

</div>
