.signup{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;

} 
.signup-content {
    margin: 20px 0;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.signup-content input{
    padding: 7px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 60%;
}