.login{
 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
} 

.login-content {
    margin: 20px 0;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-content input{
    padding: 7px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 60%;
}

.loginSignup-btn{
    margin: 10px 0;
    width: 100%;
    outline: none;
    border: none;
    padding: 7px;
    background-color: #24292E;
    font-weight: bold;
    color: white;
    transition: 0.3s;


}
.loginSignup-btn:hover{
    background-color: rgba(128, 128, 128, 0.205);
    color: black;
}