<div class="login">
    <h2>Login</h2>
    <div class="login-content">
        <label>E-Email</label>
        <input [(ngModel)]="user.email" placeholder="E-Mail" type="text"/>
    </div>

    <div class="login-content">
        <label>Password</label>
        <input [(ngModel)]="user.password" placeholder="Password" type="password"/>
    </div>
    <button class="loginSignup-btn" (click)="submit()">Login</button>
</div>