.login-signup{
    height: 100vh;
    width: 100vw;
    background-color: #F0F2F5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-signup-inner{
    padding: 20px;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-shadow: 1px 1px 10px grey;
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
app-login, app-signup{
    width: 100%;
}
.changeIsLogin-btn{
    outline: none;
    border: none;
    background-color: transparent;
    transition: 0.3s;
    font-size:14.5px;

}
.changeIsLogin-btn:hover{
    font-size:15px;
    font-weight: bold;
}