<div class="login-signup">
    <div class="login-signup-inner">
        <app-login *ngIf = "isLogin; else elseBlock"></app-login>
        <ng-template #elseBlock> <app-signup></app-signup> </ng-template>

        <button class="changeIsLogin-btn" (click)="changeIsLogin()"> {{isLogin ? "Sign up": "Login" }} </button>
    </div>
</div> 