<!-- <app-login *ngIf = "isLogin; else elseBlock"></app-login>
<ng-template #elseBlock> <app-signup></app-signup> </ng-template> -->
<button (click)="logout()" class="loginSignup-btn">Logout</button>
<router-outlet></router-outlet>